/* ================================================================
   PRIMARY LAYOUT STYLES 
   ================================================================ */

/* ================================================================
   Header
   ================================================================ */
a {
	color: $color-base;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}