/* ================================================================
Menu Styles
================================================================ */

.nav-menu {
}


/* Menu Toggle Styles */

.menu-toggle {

	.no-js & {
		display: none;
	}

	@include breakpoint(m) {
		display: none;
	}

}

/* Menu Core Styles */
.menu, .menu li, .menu ul {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}

.menu { 
	display: none; 

	&.active {
		display: block;
	}

	// Shows on medium screens
	@include breakpoint(m){
		display: block;
	}

	a {
		position: relative;
		z-index: 1;
		display: block;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	// Second level styles
	ul {
		display: none;

		&.active {
			display: block;
		}

		a {
			padding-left: 2em;
		}
	}
}

/* Menu Theme Styles */

.menu {

	// Styles for Small devices
	@include breakpoint(s-m) {
		a {
			padding: 1em;
			color: #5a5a5a;
			background: #e8e8e8;

			&:hover, &:focus {
				background: #dcdcdc;
			}
		}
	}

	// Styles for Medium devices and up
	@include breakpoint(m) {
		display: table;
		width: 100%;

		> li {
			display: table-cell;
		}

		// This is used to allow table-cell to retain it's 'position' attribute in Firefox
		.menu-item-wrap {
			position: relative;
		}

		// Second level styling
		ul {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 5;
			width: 100%;
			min-width: 3em; //set a min-width to allow for thin parents.
			background: #ccc;

			// Third level styling
			ul { 
				top: 0;
				left: 100%;
			}
		}

		li:hover {
			> .menu-item-wrap > ul, // first level hover styles
			> ul {
				display: block;
			}
		}

		// last child aligns to the right
		> li:last-child ul {
			right: 0;
			left: auto;

			 ul {
			 	right: 100%;
			 }
		}
	}
}