
/* ==========================================================================
   Global Modules
   ========================================================================== */

// #Modules
// Below you will find a lot of helper classes for modules.

/* Item Lists Content
   ========================================================================== */

.module-list { 
	display: block;
	margin:0; 
	padding:0; 

	.item {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;

		+ .item {
			margin-top: $grid-gutter * 2;
		}

		.title { 
			@include x-rem(margin, 0 0 10px);

			a {
				text-decoration: none;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
		
		.meta {
			@include x-rem(margin-bottom, 10px);
		}

		.summary {
			@include x-rem(margin-bottom, 10px);
		}

		.more {
			@extend .btn !optional;
			text-transform: uppercase;
			font-size: 0.8em; //insures the more button is always smaller then the module text
		}
	}
}


/* Item Module Content
   ========================================================================== */

.module {
	.meta {
		@include x-rem(margin-bottom, 10px);
		font-family: $font-heading;
		font-weight: 300;
	}

	.summary {
		margin-bottom: 1em;
		font-weight: bold;
	}

	.content {
		margin-bottom: 1em;
	}

	.back {
		@extend .btn !optional;
		text-transform: uppercase;
		font-size: 0.8em; //insures the back button is always smaller then the module text
	}
}


/* ==========================================================================
   Rail Modules
   ========================================================================== */

.module-rail {

}

.faq-rail {
	// @extend .module-rail;

}

.news-rail {
	// @extend .module-rail;


}