/* ==========================================================================
   Comments - Styles
   ========================================================================== */

// Setting up Default Variables
$comments-padding: $grid-gutter !default;   


/* Comments
   ========================================================================== */

.sfcommentsFormWrp {
	margin-top: 2em;
}

.sfcommentsTitle {
	margin-bottom: $comments-padding / 2;
}


/* Comment List
   ========================================================================== */

.sfcommentsList {
	display: block;
	margin: 0 0 $comments-padding;
	padding: 0;

	> li {
		position: relative;
		display: block;
		margin: 0;
		padding: $comments-padding;
		background: hsl(0, 0%, 95%);

		+ li {
			margin-top: $comments-padding;
		}
	}
}

.sfcommentNumber {
	display: none;
}

.sfcommentDate:before {
	content: ' - ';
}


/* Post Comment
   ========================================================================== */

.sfcommentsFieldsList {
	@extend .clearfix;
	display: block;
	margin: 0;
	padding: 0;

	> li {
		position: relative;
		display: block;
		margin: 0 0 1em;

		@include breakpoint(m) {
			width: 33.33%;
			padding: 0 $comments-padding / 2;
			float: left;

			&:nth-child(3n){
				padding-right: 0;
			}

			&:nth-child(3n-2){
				padding-left: 0;
			}
		}

		&.sfcommentEditor {
			float: none; 
			width: auto;
			clear: both;
			padding-right: 0;
			padding-left: 0;
			margin-bottom: 0;
		}

	}

	.sfTxt {
		width: 100%;
	}

	.sfTxtLbl {
		font-weight: bold;
	}

	.sfNote {
		font-size: 0.9em;
		font-weight: normal;
		font-style: normal;
	}
}

.sfcommentsSubmitBtnWrp {
	[type="submit"] {
		@extend .button;
	}
}
