extends interior

block content
	h1 Title of Page Here
	h4
		| Header 4 style, for optional intro highlight type copy. Should only be a few lines long, and let the reader know what they're about to get into. It looks great!
	p
	| Example paragraph text style. This is what your standard paragraphs will look like throughout the entire site. Certain areas may have special styles, but this is your standard copy size. Paragraph links are styled like this so that they are easy for users to find. You also have the ability to 
	strong BOLD text 
	| as well as 
	em emphasize text
	| . You can also insert 
	a(href='#') links 
	| to download things in your content, 
	a(href='#') 'Example Document Title' (PDF)
	| .
	p
		| Below this paragraph you'll find examples of all the other styles you'll have at your disposal. You also have a technical page that lists all important information on image sizes, fonts, and colors.
	h2 Header 2, Used for New Sections
	p
		| You'll notice there is a bit of extra space above the Header 2 above. This is done by putting in a line-break. This visual break can be nice when starting a new section of content.
	ul
		li This is a bulleted list.
		li You can also do a numbered list.
		li
			a(href='#') 
				b We highly encourage the use of lists 
			| to make your content easier for the user to scan and digest quickly.
		li Most users on the web are task-oriented, so the easier the better.
		li
			| Long paragraphs can be cumbersome and intimidating. Be sure to remember the medium, and don't write copy the same way you would for print!
	h3 Header 3, Used for Smaller Sections or Sub-Sections
	p
		| It's important to also mention that this is just a reference page. We would never encourage you to use all of these styles on one page, all at once. Rather, this is your guide to all things possible. This page is your point of reference for all the tools in your tool-box.
	p
		| Images can not only be attached using the sidebar widgets on the right, but they can also be inserted into the center content area like the image to right has been. You have the ability to align the image to the R or L. Feel free to add many images throughout your page.
	h5 Header 5 - SHORT HEADLINES
	p
		| We hope you'll come back to this page when you're working on new content, or editing existing content. Of course, if you have any questions along the way, let us know. Thanks so much and happy creating!
	h6
		| Header 6, Label-Type Header as Seen on Homepage, Shouldn't Need for Interior Pages
