.mod.navRail
	.modContent
		ul.navList
			li: a(href="#") Link That Takes Up 2 Lines Like This
			li.active
				a(href="#") Active Page Link
				//- ul
				//- 	li
				//- 		a(href="#") Example Sub Link
			li: a(href="#") Example Link 2
			li: a(href="#") Example Link 3