/* ================================================================
   PRIMARY LAYOUT STYLES 
   ================================================================ */


a {
	color: $color-primary;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}
