/* ================================================================
   PRIMARY LAYOUT STYLES 
   ================================================================ */

a {
	color: $color-base;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}