//Utility functions

$font-em-base: 14 !default;
$main-font-size: 16px !default;

$breakpoint-s: 16em !default;
$breakpoint-m: 48em !default;
$breakpoint-l: 60em !default;
$breakpoint-xl: 72em !default;

// Use this if you want, x-rem function is better.
@function em($target, $font-em-base: 14) {
	@return ($target / $font-em-base) * 1em;
}

// Preferred property size;
@mixin x-rem ($property, $value) {
  #{$property}: $value * $main-font-size;
  #{$property}: #{$value}rem;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// TODO: Change to EM breakpoints
@mixin breakpoint($point) {
	@if $point == retina {
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
	}
	// 16px baseline (256px) s = small
	@else if $point == s {
		@media (min-width: $breakpoint-s) { @content; }
	}
	// 16px baseline (256px - 767px) s-m = small TO medium
	@else if $point == s-m {
		@media (min-width:$breakpoint-s) and (max-width:$breakpoint-m - 0.1em)  { @content; }
	}
	// 16px baseline (768px) m = medium
	@else if $point == m {
		@media (min-width: $breakpoint-m) { @content; }
	}
	// 16px baseline (768px - 959px) m-l = medium TO large
	@else if $point == m-l {
		@media (min-width:$breakpoint-m) and (max-width:$breakpoint-l - 0.1em)  { @content; }
	}
	// 16px baseline (960px) l = large
	@else if $point == l {
		@media (min-width: $breakpoint-l) { @content; }
	}
	// 16px baseline (1152px) lx = extra large
	@else if $point == xl {
		@media (min-width: $breakpoint-xl) { @content; }
	}
}