/* ================================================================
   PRIMARY LAYOUT STYLES 
   ================================================================ */

/// FRAMEWORK SPECIFIC STYLES. DELETE EVERYTHING BELOW ME.


/* ================================================================
   Header
   ================================================================ */

.header {
	padding: 0.5em 1em;
	margin: 0 0 2em;
	background: $color-primary;

	.logo {
		display: inline-block;
		color: #fff;
		font-weight: bold;
		text-decoration: none;

		&:before {
			content: '';
			display: inline-block;
			position: relative; top: -1px;
			width: 10px; height: 10px;
			margin-right: 5px;
			background: #fff;
			border-radius: 50px;
			// @include transition(all 0.2s ease-out);
		}

		&:hover, &:focus {
			text-decoration: none;

			&:before {
				background: hsla(0, 0%, 100%, 0.5);
			}
		}
	}
}


// Normally put this style in menu.css but this is hacked.
.nav-menu  {
	display: inline-block;
	position: relative;
	top: 5px;
	margin-left: 15px; padding-left: 18px;
	border-left: 1px solid #fff;

	a {
		margin: 0 25px;
		color: #fff;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	.on a {
		font-weight: bold;
	}
}

/* ================================================================
   Main
   ================================================================ */

.main {
	padding-bottom: 3em;
}
