/* ================================================================
   Generic Form Styles
   ================================================================ */

$input-height: 30px !default;
$input-background: #ffffff !default;
$input-border-color: #d4d4d4 !default;
$input-border-width: 1px !default;
$input-border-radius: 5px !default;
$input-box-shadow: inset 0 1px 5px hsla(0%, 0%, 0%, 0.22) !default;
$input-box-shadow-active: inset 0 1px 5px hsla(0%, 0%, 0%, 0.22), inset 0 0 0 2px $color-primary !default;

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	@include x-rem(height, $input-height);
	padding: 5px 13px;
	background: $input-background;
	vertical-align: top;
	@include box-shadow($input-box-shadow);
	@include x-rem(font-size, 14px);
	@include transition(all 0.2s ease-out);

	&:focus {
		outline: none;
		@include box-shadow($input-box-shadow-active);
	}
}

input[type="checkbox"], 
input[type="radio"] {
	margin-right: 2px;
	border-radius: 0;
	background: none;
}

select {
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	background: $input-background;
	@include box-shadow($input-box-shadow);
	@include x-rem(height, $input-height);	
	
	&:focus {
		outline: none;
		@include box-shadow($input-box-shadow-active);
	}
}

textarea {
	padding: 10px 13px;
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	min-height: 100px;
	background: $input-background;
	@include box-shadow($input-box-shadow-active);
	@include transition(all 0.2s ease-out);

	&:focus {
		outline: none;
		@include box-shadow($input-box-shadow-active);
	}
}

// Text input areas
.sfreContentArea {
	padding: 10px 13px;
	background: none;
}

/* ================================================================
   Sitefinity Form Styles
   ================================================================ */

// Resets a bunch of sign up forms and makes them block instead of list style.
.sfLoginFieldsWrp, .sfprofileFieldsList, .sfregisterFieldsList {
	display: block;
	margin: 1em 0;
	padding: 0;

	li {
		display: block;
		margin: 0;
		padding: 0;

		+ li {
			margin-top: 1em;
		}
	}
}

// Form Label Styling
.sfTxtLbl {
	font-weight: bold;
	display: block;

	.required > & {
		&:after {
			content: '*';
			color: $color-primary;
		}
	}

	//Since we're using js to add the placeholder, we should really only hide the label if there is a placeholder present.
	.js .form-label-hide & {
		@extend .visuallyhidden;
	}
}

// RadEditor is Sitefinity's special textarea/lite WYSIWYG. Trying to catch most of the styling here but I'm sure there's more to be done.

.Sitefinity.RadEditor {
	td {
		background: none;
	}

	// Unnecessary padding cell to the left. No idea what's inside so hiding if empty;

	.reTlbVertical {
		&:empty {
			display: none;
		}
	}

	.reLeftVerticalSide {
		display: none; //can't do :empty as empty for this means &nbps; :(
	}

	.reContentCell {
		border: none;

		iframe {
			border: $input-border-width solid $input-border-color;
			border-radius: $input-border-radius;	
			@include box-shadow($input-box-shadow);	
			background: $input-background;
		}
	}

	// Adjust the "formatting options box"
	.reToolbarWrapper {
		position: absolute;
		top: -6px; 
		right: 0;
		margin-right: 0 !important; // overrides inline styles
	}

	.sfMoreTools {
		min-width: 0 !important;  //overrides inline styles
	}
}

.sfCheckListBox, .sfRadioList {
	display: block;
	margin-left: 1em;
}

.sfTxt {
	width: 100%;
}

// Textbox sizes as defined by the backend editor
.sfTxtBoxSmall .sfTxt,
.sfDdlSmall select {
	max-width:120px;
}

.sfTxtBoxMedium .sfTxt,
.sfDdlMedium select  {
	max-width:300px
}

.sfTxtBoxLarge .sfTxt,
.sfDdlLarge select  {
	max-width:400px
}

// Styling Sf's submit buttons.
// No wrapper

// With Wrapper


// This should match every input wrapper
// .sfFormBox, .sfFormBlock, .sfFormDropdown, .sfFormCheckboxlist, .sfFormBlock, .sfFormRadiolist {
// 	margin-bottom: 1em;
// }

// .sfFormSubmit {
// 	margin: 0.5em 0;

// 	[type="button"], [type="submit"], .sfSubmitBtn {
// 		@extend .button;
// 	}
// }

.sfExample {
	font-size: 11px;
	line-height: 1.4em;
	margin: 0.5em 0 1em;
}


/* Error Message
   ========================================================================== */

.sfError {
	margin-top: $grid-gutter / 4;
	padding: $grid-gutter / 2 $grid-gutter;
	background: red;
	color: #fff;
	@include x-rem(font-size, 12px);
}