/* ================================================================
   Photos / Gallery Styles
   ================================================================ */


// Conditionals
// Arrows or Dots? 
// $arrow-option: dots/arrow;
$nav-location: bottom; 
$nav-mobile: 'true'; // true/false


// Arrows 
$gal-arrow-font-prev: '\25C4';
$gal-arrow-font-next: '\25BA'; 
$gal-arrow-color: #333333;
$gal-arrow-size: 28px;
$gal-arrow-bg: #cccccc;
$gal-arrow-radius: 36px; // makes arrow background circle
$gal-arrow-padding: 15px;

// Single Slider
%gal-arrow{ // affects both arrows positioning.
	position: absolute;
    display: block;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    padding: $gal-arrow-padding;
    font-size: 0;
    border: none; //removes border of button
    outline: none; //removes outline of button;
    @include transform(translate(0, -50%)); //Centers arrows regardless of font-size.
    &:before{
		background:$gal-arrow-bg;
		color: $gal-arrow-color;
		font-size: $gal-arrow-size;
		padding:5px;
		@include border-radius($gal-arrow-radius);
    }
    &:hover, &:focus{
    	&:before{
    		color:$gal-arrow-bg;
    		background:$gal-arrow-color;
    	}
    }

    @if $nav-mobile == 'true'{
    	@include breakpoint(s-l){
    		visibility: visible;
    	}
    } @else{
    	@include breakpoint(s-l){
    		visibility: hidden;
    	}
    }

    @if $nav-location == bottom{
    	top:auto;
    	bottom:0;
    	@include transform(tanslate(0, 0%));
    }
}


.slick-prev, .slick-next{
	@extend %gal-arrow;
}
.slick-prev{
	left:0;
	&:before{
		content:$gal-arrow-font-prev;
	}

}
.slick-next{
	right:0;
	&:before{
		content:$gal-arrow-font-next;
	}
}


// End of Arrow

$gallery-list-item-margin: 10px;
$gallery-list-comment-color: #fff !default;
$gallery-list-comment-background: hsla(0, 0%, 0%, 0.5) !default;



.gallery {

	.gallery-list {
		display: block;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			margin: $gallery-list-item-margin 0;
			padding: 0;
		}
	}

	//Thumbnail View
	&[data-style="thumbnails"] {

		.gallery-list {
			margin: 0 (-$gallery-list-item-margin); //offsets the spacing
			text-align: left;	

			li {
				margin: $gallery-list-item-margin;			
			}
		}

		.gallery-list-item {
			display: block;
			width: 200px;
			height: 200px;
			overflow: hidden;
			background-size: cover;
			background-position: 50% 25%;
			@include transition(all 0.2s ease-out);
			@include box-shadow(0 0 0em $color-base);

			&:hover, &:focus {
				@include box-shadow(0 0 1em $color-base);
			}
			
			img {
				@extend .visuallyhidden;
			}
		}
	}
}

.gallery-list-item-comment {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	padding: 4px 8px;
	text-decoration: none;
	background-color: $gallery-list-comment-background;
	color: $gallery-list-comment-color;
	@include x-rem(font-size, 11px);
	@include x-rem(line-height, 12px);
	@include transition(all 0.2s ease-out);

	&:after {
		@extend .iconfont-comments;
		display: inline-block;
		padding-left: 2px;
	}

	&:hover, &:focus {
		text-decoration: none;
		background-color: rgba($gallery-list-comment-background, alpha($gallery-list-comment-background)*1.5);
	}

	&.sfcommentsEmpty {
		display: none;
	}

	//Hide if it's associated with a popup
	[data-popup="true"] + & {
		display: none;
	}
}
