/* ==========================================================================
   Global Modules
   - We define modules as larger content that usually have a listing and detailed view.
   - Examples: Events, News, Testimonials
   ========================================================================== */


/* Meta Content
   - This is content that extends or defines the content that it is pared with.
   - Examples: date, author, tag
   ========================================================================== */

.meta {
	display: block;
	margin: 0 0 $typography-margin-bottom;
	padding: 0;
}

.meta-item {
	display: inline-block;

	&:after {
		content: '\2022';
		display: inline-block;
		padding: 0 0.5em 0 0.2em; // offset left padding fixes spaces left in .meta-item
	}

	&:last-child {
		&:after {
			display: none;
		}
	}
}

// Tags

.sfTags {
	display: inline-block;
}

.sfTagsList {
	display: inline-block;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}

	span {
		display: inline-block;
		padding: 2px 6px;
		@include x-rem(font-size, 10px);
		font-weight: bold;
		font-family: Arial, sans-serif;
		background: hsl(0, 0%, 90%);
		color: hsl(0, 0%, 50%);
		text-transform: uppercase;
		border-radius: 4px;
		vertical-align: text-bottom;

		// Example styling for a specific tag powered by jquery-functions
		&[data-tag="Featured"] {
			background: #eea236;
			color: #fff;
		}
	}
}


/* Core Module Styles
   - Provides core styling for modules
   ========================================================================== */

.module {
	margin-bottom: 1em;

	// Title of the Module
	> .title {
		margin-bottom: $typography-margin-bottom;
	}

	// See the above section for meta styling. All module specific styling goes here.
	.meta {

	}

	.summary {
		margin-bottom: $typography-margin-bottom;
		font-weight: bold;
		font-style: italic;
	}

	.content {
		margin-bottom: $typography-margin-bottom;
	}

	// Provides simple styling to go to the list view
	.back {
		@extend .button-small !optional;
		text-transform: capitalize;

		&:before {
			@extend .iconfont-chevron-left !optional;
		}
	}
}


/* Core List Styles
   - Provides core styling for item list
   ========================================================================== */

.list {
	display: block;
	margin: 0 0 $grid-gutter;
	padding: 0;

	> .item {
		position: relative;
		display: block;
		padding: 0;

		+ .item {
			margin-top: $grid-gutter;
			padding-top: $grid-gutter - 5px; // offset for line-height on title 
			border-top: 1px solid rgba($color-primary, 0.2);
		}

		// Supports aside content in the list
		.aside {
			margin: 1em auto;
			max-width: 200px;
			max-height: 200px;

			@include breakpoint(m){
				display: table-cell;
				width: 125px;
				vertical-align: top;

				.sfimageWrp {
					margin: 5px 15px 0 0; //Margin top is for line-height offset
				}

				+ .item-content {
					display: table-cell;
					vertical-align: top;
				}
			}
		}
	}
}

/* Module List
   - Provides core styling for Module Lists
   ========================================================================== */

.module-list {

	.item {
		.title {
			margin: 0 0 10px;

			a {
				text-decoration: none;

				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}

		.meta {
			margin-bottom: 10px;
			font-size: 0.85em;
		}

		.summary {
			margin-bottom: 10px;
		}

		// Provides simple styling to go to the list view
		.more {
			@extend .button-small !optional;
			text-transform: capitalize;

			&:after {
				@extend .iconfont-chevron-right !optional;
			}
		}
	}
}


/* Module Rail
   - Provides core styling for rail modules
   ========================================================================== */

.module-rail {
	margin-bottom: 1em;
	background: hsl(0, 0%, 95%);

	.module-header {
		.title {
			margin: 0;
			padding: 10px;
			background: $color-primary;
			color: #fff;

			a {
				color: #fff;
			}
		}
	}

	> .list {
		padding: 10px;

		.title {
			margin-bottom: 0;
		}

		.meta {
			font-size: 0.85em;
		}
	}
}
