/* ==========================================================================
   Search
   - All search related styles will go here.
   - Examples: Header Search, Search details
   ========================================================================== */

/* Search Box Basic
   - Basic styling for the search box
   ========================================================================== */

.sfsearchBox {

}

.sfsearchTxt {

}

.sfsearchSubmit {

}

.sfSearchButton {
	@extend .button;
}


/* Search Box Header
   - Styling for the search box found in the header
   ========================================================================== */

.header .sfsearchBox {
	position: absolute;
	top: 0;
	right: 0;

	.sfsearchSubmit {
		position: relative;
		top: 2px;
		left: 2px;		
		color: #fff;
		font-size: 24px;

		&:hover, &:focus {
			color: hsla(0, 0%, 100%, 0.75);
		}

		&:before {
			@extend .iconfont-search;
		}
	}

	.sfSearchButton {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include opacity(0);
	}
}


/* ================================================================
   Search Results
   ================================================================ */

.sfsearchResultsWrp {

	dd {
		margin-left: 0;
	}

	.sfsearchResultTitle {
		display: inline-block;
		margin-top: 1em;

		&:first-child {
			margin-top: 0;
		}
	}

	.sfsearchResultSnippet {
		display: none;
	}

	.sfsearchResultUrl {
		display: inline-block;
		@include x-rem(font-size, 12px);

		a {
			display: inline-block;
			font-weight: normal;

			&:before {
				content: '(';
			}

			&:after {
				content: ')';
			}
		}
	}
}
