// Use Compass 
$svg-gradient-shim-threshold: 0.1;
@import "compass/css3";

// Color Variables
$color-base: #000;
$color-heading: #373737;
$color-subhead: #838383;
$color-primary: #0069aa;

// Grid
$grid-gutter: 20px;

// Typography
$font-body: Arial, sans-serif;
$font-heading: Times New Roman, serif;
$font-size-base: 13px;

$typography-margin-bottom: 20px;

// Hover background color
$link-selection: rgba($color-primary, 0.75);
$body-bg: #fff;

// Breadcrumbs

$breadcrumb-color: #231f20;
$breadcrumb-font-size: 14px;
$breadcrumb-current-color: $color-primary;
$breadcrumb-type-font-color: $breadcrumb-color;
$breadcrumb-type: font;

// Slideshow

$gallery-max-height: 400px;



// SASS Functions and Modules
@import "modules/utilities";

// Third Party Partials
@import "vendor/normalize";
@import "vendor/sf-boilerplate";
@import "vendor/magnific-popup";
@import "vendor/owlcarousel";
@import "vendor/framework-fonts";

// Theme Partials
// @import "partials/fonts";
@import "partials/sprites";
@import "partials/grid-fluid";
// @import "partials/grid-fixed";
@import "partials/typography";
@import "partials/modules";

@import "partials/banners";
@import "partials/faq";
@import "partials/forms";
@import "partials/gallery";
@import "partials/comments";
@import "partials/menu";
@import "partials/nav-rail";
@import "partials/page-meta";
@import "partials/pagination";
@import "partials/tabs";
@import "partials/sitemap";
@import "partials/search";
@import "vendor/owltheme";

@import "partials/base";
@import "partials/print";

// Admin resets and fixes
@import "vendor/sf-admin";