
/* Nav Rail
   ================================================================ */

$mod-padding: 10px !default;

.nav-rail {
	padding: $mod-padding 0; 
}

.nav-rail-list{
	display: block;
	margin: 0;
	padding: 0;

	ul, li {
		display: block;
		margin: 0;
		padding: 0;
	}

	// Section Header
	> li.active > a {
		padding: 0 $mod-padding;
		margin: 0;
		@include x-rem(font-size, 24px);
		color: #fff; 
		text-decoration: none;

		&:focus, &:hover {
			text-decoration: none;
		}
	}

	li {
		display: none;

		&.active{
			display: block;

			> ul > li {
				display: block;
			}
		}
	}

	// Current page and siblings
	ul {
		a {
			display: block;
			padding: 0.3em $mod-padding;
			color: $color-primary;
			@include x-rem(font-size, 14px);
			@include transition(all 0.2s ease-out);

			&:hover, &:focus {
				color: darken($color-primary);
			}
		}

		.active > a {
			color: darken($color-primary);
		}

		ul a {
			padding-left: $mod-padding * 2;
		}

		ul ul a {
			padding-left: $mod-padding * 3;
		}
	}
}