.tabs
	.tab-section
		a.tab-header(href="#") Tab 1
		.tab-content Tab 1 Content
	.tab-section
		a.tab-header(href="#") Tab 2
		.tab-content Tab 2 Content
	.tab-section
		a.tab-header(href="#") Tab 3
		.tab-content Tab 3 Content
