<!-- Can be located anywhere -->
a.menu-toggle(href="#") &#9776; Menu

nav.nav-menu
	ul.menu(role="navigation")
		li
			a(href="#") Link A
			ul
				li: a(href="#") Link A 1
		li: a(href="#") Link B
		li: a(href="#") Link C
		li: a(href="#") Link D